#app {
    display: flex;
    justify-content: center;
    height: 100%;
    font-family: var(--Merriweather);
    
    
    .container {
        align-self: center;
        width: 28vw;
        color: var(--text-c);
        min-width: 368px;
        height: 100vh;
        margin: 38px auto;
        height: auto;
        
    }
   
}
